<div nz-row class="asset-list full-parent">
  <div nz-row class="search-bar">
    <form nz-form [formGroup]="searchGroup" [nzLayout]="'inline'"  (ngSubmit)="_search('search')" novalidate>
      <div nz-row [nzGutter]="20">
        <div nz-col [nzSpan]="3">
          <div nz-row>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-input [nzSize]="'small'" [nzPlaceHolder]="'资产名称'" formControlName="name"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="3">
          <div nz-row>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-input [nzSize]="'small'" [nzPlaceHolder]="'资产编号'" formControlName="assetCode"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="3">
          <div nz-row>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-input [nzSize]="'small'" [nzPlaceHolder]="'归属人'" formControlName="owner"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="3">
          <div nz-row>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-select  [nzSize]="'small'" formControlName="statusId">
                <nz-option [nzLabel]="'全部状态'" [nzValue]="''"></nz-option>
                <nz-option *ngFor="let status of statusList" [nzLabel]="status?.statusName" [nzValue]="status?.statusId"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="3">
          <div nz-row>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-select  [nzSize]="'small'" formControlName="typeId">
                <nz-option [nzLabel]="'全部类型'" [nzValue]="''"></nz-option>
                <nz-option *ngFor="let type of typeList" [nzLabel]="type?.typeName" [nzValue]="type?.typeId"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row [nzGutter]="0">
            <div nz-form-control>
              <div nz-col [nzSpan]="11">
                <div nz-row>
                    <div nz-form-control>
                      <nz-datepicker formControlName="startTime" [nzSize]="'small'" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'入库起始日期'"></nz-datepicker>
                    </div>
                </div>
              </div>
              <div nz-col [nzSpan]="1">
                <p nz-form-split>-</p>
              </div>
              <div nz-col [nzSpan]="11">
                <div nz-row>
                  <div>
                    <div nz-form-control>
                      <nz-datepicker formControlName="endTime" [nzSize]="'small'" [nzFormat]="'YYYY-MM-DD'"  [nzPlaceHolder]="'入库结束日期'"></nz-datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="2">
          <div nz-row>
            <div nz-form-control nz-col [nzSpan]="24">
              <button nz-button [nzType]="'primary'" [nzSize]="'small'">搜索</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div nz-row class="operate-bar" *ngIf='userType==="SYSTEM_ADMIN"'>
    <div nz-col [nzSpan]="2" class="pull-left">
      <button nz-button [nzType]="'primary'">
        <label for="asset-import">导入</label>
      </button>
      <form style="display: none;" style="position:absolute;clip:rect(0 0 0 0);">
        <input type="file" value="导入" (change)="assetImportConfirm($event)" placeholder="Upload file" id="asset-import">
      </form>
    </div>
    <div nz-col [nzSpan]="2" class="pull-left">
      <button nz-button [nzType]="'primary'" (click)="assetExportConfirm()" [disabled]="assetList.length===0">
        <span>导出</span>
      </button>
    </div>
    <div nz-col [nzSpan]="2" class="pull-left">
      <button nz-button [nzType]="'danger'" (click)="deleteAssets()" [disabled]="checkedInfo.selectedList.length === 0 ">
        <span>删除</span>
      </button>
    </div>
    <div nz-col [nzSpan]="2" class="pull-right">
      <button nz-button [nzType]="'primary'" routerLink="asset-add" [queryParams]="{userType:userType}">
        <span>新增资产</span>
      </button>
    </div>
  </div>
  <div nz-row class="table-container full-width">
    <nz-table #nzTable [nzAjaxData]="assetList"
              [(nzPageIndex)]="pageParam.currentPage" (nzPageIndexChange)="queryAssetList();"
              [nzTotal]="pageParam.totalCount" [nzPageSize]="pageParam.pageSize" [nzShowTotal]="true"
              [nzBordered]="true" [nzSize]="'small'" [nzLoading]="_loading">
      <thead nz-thead>
      <tr>
        <th nz-th nzCheckbox *ngIf='userType==="SYSTEM_ADMIN"'>
          <label nz-checkbox [(ngModel)]="checkedInfo.allCheck" [nzIndeterminate]="checkedInfo.indeterminate" (ngModelChange)="_checkAll($event)">
          </label>
        </th>
        <th nz-th><span>序号</span></th>
        <th nz-th><span>名称</span></th>
        <th nz-th><span>编号</span></th>
        <th nz-th><span>价格</span></th>
        <th nz-th><span>类别</span></th>
        <th nz-th><span>状态</span></th>
        <th nz-th><span>归属</span></th>
        <th nz-th><span>入库时间</span></th>
        <th nz-th *ngIf='userType==="SYSTEM_ADMIN"'><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data; let _index = index;">
        <td nz-td nzCheckbox *ngIf='userType==="SYSTEM_ADMIN"'>
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_checkOne($event)">
          </label>
        </td>
        <td nz-td>
          {{_index + 1}}
        </td>
        <td nz-td>
          <a [routerLink]="['./asset-edit']" [queryParams]="{assetCode: data.assetCode,userType:userType}">{{data.name}}</a>
        </td>
        <td nz-td>{{data.assetCode}}</td>
        <td nz-td>{{data.price}}</td>
        <td nz-td>{{data.typeName}}</td>
        <td nz-td>{{data.statusName}}</td>
        <td nz-td>{{data.owner}}</td>
        <td nz-td>{{data.inputTime|date: 'yyyy-MM-dd'}}</td>
        <td nz-td *ngIf='userType==="SYSTEM_ADMIN"'>
          <div class="td-operation" style="justify-content: flex-start">
              <a style="margin-left: 20px;">打印条码</a>
              <a (click)="openBorrowModal(data);" style="margin-left: 30px;" [ngSwitch]="data.statusId" *ngIf="data.statusId == '2' || data.statusId == '3'">
                <ng-container *ngSwitchCase="'2'">还回</ng-container>
                <ng-container *ngSwitchCase="'3'">借出</ng-container>
                <ng-container *ngSwitchDefault></ng-container>
              </a>
              <a (click)="openAssetDetailModal(data.assetCode)" style="margin-left: 30px;">资产明细</a>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>

  <nz-modal *ngIf="isBorrowModalVisible" [nzVisible]="isBorrowModalVisible"
            [nzConfirmLoading]="isBorrowConfirmLoading"
            [nzTitle]="'借出'" [nzContent]="borrowContent"
            [nzFooter]="borrowFooter"
            (nzOnCancel)="closeBorrowModal()"

  >
    <ng-template #borrowContent>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
            <label nz-form-item-required>借出人</label>
          </div>
          <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="ValidateStatus(borrowName.dirty)">
            <nz-input [nzSize]="'large'" #borrowName="ngModel" [(ngModel)]="assetBorrowObj.name" [nzType]="'text'"></nz-input>
          </div>
        </div>

      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label nz-form-item-required>部门</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="ValidatePartStatus(partName.dirty)">
          <nz-input [nzSize]="'large'" #partName="ngModel" [(ngModel)]="assetBorrowObj.ownerDepartment" [nzType]="'text'"></nz-input>
        </div>
      </div>
    </ng-template>

    <ng-template #borrowFooter>
      <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeBorrowModal()">
        返 回
      </button>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!assetBorrowObj.name || !assetBorrowObj.ownerDepartment" (click)="borrowAsset($event)" [nzLoading]="isBorrowConfirmLoading">
        提 交
      </button>
    </ng-template>
  </nz-modal>



  <nz-modal *ngIf="isAssetDetailVisible" [nzVisible]="isAssetDetailVisible"
            [nzTitle]="'资产明细'" [nzContent]="borrowContent" [nzWidth]="800"
            [nzFooter]="borrowFooter"
            (nzOnCancel)="closeAssetDetailModal()"

  >
    <ng-template #borrowContent>
      <div nz-row class="table-container full-width">
        <nz-table #nzTable [nzAjaxData]="assetDetailList"
                   [nzShowTotal]="true"
                  [nzIsPagination]="false"
                  [nzBordered]="true" [nzSize]="'small'">
          <thead nz-thead>
          <tr>
            <th nz-th><span>序号</span></th>
            <th nz-th><span>资产名称</span></th>
            <th nz-th><span>资产编号</span></th>
            <th nz-th><span>归属人</span></th>
            <th nz-th><span>操作名</span></th>
            <th nz-th><span>操作人</span></th>
            <th nz-th><span>操作时间</span></th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data; let _index = index;">
            <td nz-td>
              {{_index + 1}}
            </td>
            <td nz-td>{{data.assetName}}</td>
            <td nz-td>{{data.assetCode}}</td>
            <td nz-td>{{data.owner}}</td>
            <td nz-td>{{data.operationTypeName}}</td>
            <td nz-td>{{data.operator}}</td>
            <td nz-td>{{data.operationTime|date: 'yyyy-MM-dd'}}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>


    </ng-template>

    <ng-template #borrowFooter>
    </ng-template>
  </nz-modal>
</div>
