<form nz-form [formGroup]="passwordForm">
  <div nz-form-item nz-row *ngIf="_fromFatherUserId">
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>原始密码</label>

    </div>
    <div>
      <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('oldPassword')" nzHasFeedback>
            <nz-input formControlName="oldPassword" [nzPlaceHolder]="'请输入原始密码'" [nzType]=originalJudgePaw [nzSize]="'large'">
            </nz-input>
          <div nz-form-explain *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('required')">原始密码不能为空!</div>
        <div nz-form-explain *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('minlength')">
          密码最少长度为{{getFormControl('oldPassword')?.getError('minlength').requiredLength}}位!
        </div>
        <div nz-form-explain *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').hasError('maxlength')">
          密码最大长度为{{getFormControl('oldPassword')?.getError('maxlength').requiredLength}}位!
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="1" nz-form-label>
      <i style="line-height:30px;" (click)="showPaw('originalPaw')" class="anticon anticon-eye-o pawIcon"></i>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>密码</label>
    </div>
    <div>
      <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('password')" nzHasFeedback>
        <nz-input formControlName="password" [nzPlaceHolder]="'请输入密码'" [nzType]=firstPaw [nzSize]="'large'" (ngModelChange)="validateConfirmPassword()">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">密码不能为空!</div>
        <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('minlength')">
          密码最少长度为{{getFormControl('password')?.getError('minlength').requiredLength}}位!
        </div>
        <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('maxlength')">
          密码最大长度为{{getFormControl('password')?.getError('maxlength').requiredLength}}位!
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="1" nz-form-label>
      <i style="line-height:30px;" (click)="showPaw('firstPaw')" class="anticon anticon-eye-o pawIcon"></i>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>确认密码</label>
    </div>
    <div nz-col [nzSpan]="10" nz-form-control [nzValidateStatus]="getFormControl('passwordConfirmation')" nzHasFeedback>
      <nz-input formControlName="passwordConfirmation" [nzType]=confirmPaw [nzPlaceHolder]="'请输入确认密码'" [nzSize]="'large'">
      </nz-input>
      <div nz-form-explain *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('required')">请再次输入密码!</div>
      <div nz-form-explain *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('confirm')">
        密码不一致!
      </div>
    </div>
    <div nz-col [nzSpan]="1" nz-form-label>
      <i style="line-height:30px;" (click)="showPaw('confirmPaw')" class="anticon anticon-eye-o pawIcon"></i>
    </div>
  </div>
</form>
